<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline:</div>
  <div><%= flight.airline %></div>
  <div>Airport:</div>
  <div><%= flight.airport %></div>
  <div>Flight Number:</div>
  <div><%= flight.flightNo %></div>
  <div>Departs</div>
  <div><%= flight.departs %></div>
</section>
<br />

<h2>Tickets Sold</h2>
<section id="badge-container">
  <% tickets.forEach(function(ticket) { %>
  <article class="badge"><%= ticket.seat %></article>
  <% }) %>
</section>

<br />
<% if (flight.destination.length) { %>
<table>
  <thead>
    <tr>
      <th>Airport</th>
      <th>Arrival</th>
      <th>Updated On</th>
    </tr>
  </thead>
  <tbody>
    <% flight.destination.forEach(function(dest) { %>
    <tr>
      <td><%= dest.airport %></td>
      <td><%= dest.arrival %></td>
      <td><%= dest.createdAt.toLocaleDateString() %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
<h5>No Additional Destinations Yet</h5>
<% } %>

<br /><br />

<br />
<h2>Destinations</h2>
<form
  id="add-destination-form"
  method="POST"
  action="/flights/<%= flight._id %>/destinations"
>
  <label>Add New Destination:</label>
  <br />
  <label>Airport:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <label for="arrival">Arrival</label>
  <input name="arrival" type="datetime-local" />
  <input type="submit" value="Add Flight" />
</form>
